#root {
  padding: 10px;
}

.logo {
  height: 25px;
}

.frontpage-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 20px;
}

.image-caption{
    margin-top: 15px;
    text-align: center;
    font-size: 2vw;
}

.services-group{
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 20px;
}

.card{
    width: 18rem;
    border: 1px solid black;
    height: 100%;
    width: auto;
}

@media screen and (min-width: 1000px){
    .frontpage-logo{
        width: 75%;
    }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px -10px;
  padding: 20px 30px;
  border-bottom: solid rgb(202, 202, 202) 1px;

  & h3, h5 {
    margin: 0;
    display: inline-block;
  }

  & .logo-group {
    display: flex;
    gap: 10px;
  }

  & .links-group {
    display: flex;
    gap: 35px;
    align-items: center;
  }
}

main {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 100px;
}

a {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

