nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -10px -10px;
  padding: 20px 30px;
  border-bottom: solid rgb(202, 202, 202) 1px;

  & h4, h6 {
    margin: 0;
    display: inline-block;
  }

  & .logo-group {
    display: flex;
    gap: 10px;
  }

  & .links-group {
    display: flex;
    gap: 35px;
    align-items: center;
  }

  & button {
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #3D99F5;
    cursor: pointer;
    transition: border-color 0.25s;
  }
}